<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578215010386-3cfoshr2iqm9tfru5dmpg3d0pj9uh62n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578215010386-3cfoshr2iqm9tfru5dmpg3d0pj9uh62n</string>
	<key>API_KEY</key>
	<string>AIzaSyDf43m2d6LAB92ZoN3bahAwQMHsLA9eBkA</string>
	<key>GCM_SENDER_ID</key>
	<string>578215010386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sancricca.MarvelApp</string>
	<key>PROJECT_ID</key>
	<string>marvel-app-ba5b5</string>
	<key>STORAGE_BUCKET</key>
	<string>marvel-app-ba5b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578215010386:ios:5258c250b7ea615b8c7f8b</string>
</dict>
</plist>